<head>

	<style>
	.main_container {
		margin-left: 30%;
		margin-bottom: 0px;
		width:650px;
	}

	.main_container > p {
		font-size: 13pt;
		line-height: 20pt;
	}

	</style>
</head>

<body>
	<div class="main_container">
		<h1>A bit about DueCourse...</h1></br>

		<p>We're [relatively] normal, GSR-inhabiting Wharton students like you (not M&T or anything fancy). We want to learn what we need to, but also to explore what we're curious about. So we teamed up to look for a way to make it easier for the consumers of courses (students) to express unmet interests to the suppliers (professors).</p></br>
		<p>There are classes students want that aren’t being offered by Wharton. Sometimes that’s because it’s deemed infeasible by the faculty. More often, though, these classes don’t happen because there’s no way for the faculty to know that students want them. Right now, the process for a professor to decide to teach a new course involves very little communication with the consumers he/she is looking to serve. It’s not because they don’t want to—often they do—it's because they don’t know who to ask or where to look. Which makes sense!</p></br>
		<p>The goal for DueCourse is to help students communicate what they’re interested in exploring. DueCourse gives these ideas a public home and a way to quantify demand through voting so that faculty can consider seriously these suggestions when thinking about what to teach. We hope to shift the norm in the Wharton course “market” from the 20th century supplier-driven model to the 21st century consumer-driven model (credit: MKTG 101).</p></br>
		<p>Excited to see what weird or brilliant or eclectic ideas emerge. See you on the inside!</p>
	</div>

	<!-- <h2>"The art of teaching is the art of assisting discovery."</h2><h5>        &#8212<a href="http://en.wikipedia.org/wiki/Mark_Van_Doren">Mark Van Doren</a></h5>
	</br>
	</br> 
	<h4>Our goal with this effort is to raise awareness among students about their prerogative to express what they’d like to be taught</h2>
	<p>We are entering a period of consumer power. More than ever consumers have access to information and alternatives for almost every category of product or service. As a result, producers are working harder than ever before—both out of opportunity and necessity—to involve the feedback of the demand-side into the process of creating supply.</p>
	<p>There are examples of this effort everywhere. Companies use platforms like Twitter on a high level to gauge audience opinions on their activities and offerings. On a more direct level, sellers leverage platforms like Kickstarter and Indiegogo where businesses can post concepts for products and receive advance funding from prospective consumers. As a matter of fact, Wharton itself recently used a platform called IdeaScale to collect ideas and feedback from students in the process of looking for a new brand slogan.</p>
	<p>This trend toward collaboration between the demand and supply side isn’t just good for consumers. It’s also productive for businesses. In a recent Wharton Biz Talk lecture, Karl Ulrich presented research on “innovation tournaments.” The takeaway from this is that the two main levers for organizations to improve the quality of their ideas is via increased quantity and variance, both of which are achieved through engagement with consumers.</p>
	<p>With that context in mind, our goal is to bring this dynamic of consumer-producer interaction to the process of deciding on Wharton curriculum. There are classes we and other students want that aren’t being offered. Sometimes that’s because it’s deemed infeasible by the faculty. More often, though, these classes don’t happen because there’s no way for students to communicate what they want to the faculty, and the faculty have no way of gauging the size of the demand. Right now, the process for a professor deciding to teach a new course involves very little engagement with the consumers he/she’s looking to serve. It’s not because they don’t want to—most likely they do—but because it’s not expected of them, and they don’t have tools to make it convenient.</p>
	<p>Our goal with this effort is to raise awareness among students about their prerogative to express what they’d like to be taught: to be proactive in suggesting what they’re interested in. Further, we will quantify ideas for courses and demand for those courses, such that the faculty can productively integrate these suggestions into their decision for what to teach.</p>
	<p>Right now there’s a lot of talk and concern about what lies ahead for traditional higher education. The cost-structure is proving unsustainable and at the same time, online platforms like Coursera, Lynda.com, Udacity, Udemy, Khan Academy, and others are providing free, high-quality alternatives. There are many thoughts on why institutions like Penn will be immune to this trend—the brand equity, the campus, the experience—and we think that our project stands to introduce another, even stronger one: the idea that the curriculum you get at Wharton is customized to you. That’s a compelling educational advantage that fixed curriculums like Coursera can’t compete with.</p>
	<p>We hope to create a movement that shifts the norm in the “Wharton-course-market” from the 20th century model of supply-driven to the 21st century model of consumer-driven. What if students are interested in a course for Personal Finance? Or Marketing for Startups? We hope to provide a way to make those become a reality.</p>
	<p>We hope you like it!</p> -->

</body>



