Notifications#new_course

<%= @greeting %>
<h1>Great idea!</h1> 
<p>Your idea for a course has been submitted. Good stuff! Think you could do it again?</p>
<%= button_to "Vote on classmates' ideas", courses_path %><%= button_to 'or submit idea', new_courses_path %>
<p>Sincerely,</p>
<p>Fellow students</p>

<%end%>
