<h3 style="color:#545454">DueCourse</h3>


<h2>Hi there <%= @id%>!</h2> 
<p>Thanks for taking the time to check out DueCourse. Hope you'll submit an idea or vote on a few!</p>
<p><%= link_to "See course ideas", course_path %></p>
<p>Sincerely,</p>
<p>Fellow Wharton students</p>
