<h3 style="color:#545454; font-family:helvetica,arial;">DueCourse</h3>


<h2>Great idea!</h2> 
<p>Your idea for <%= @id%> has been submitted. Good stuff! Think you could do it again?</p>
<p><%= link_to "See other course ideas", courses_path %></p>
<p>Sincerely,</p>
<p>Fellow Wharton students</p>
